.header-burger {
	position: relative;
	width: 40px;
	height: 40px;
	z-index: 99;
	display: none;
	cursor: pointer;


	@media (max-width: 1199.98px) {
		display: block;
	}

	span {
		transition-duration: 0.4s;
		display: inline-block;
		width: 24px;
		height: 2px;
		border-radius: 2px;
		background: #000;
		position: absolute;
		left: 50%;
		top: 10px;
		transform: translateX(-50%);

		&:nth-child(2) {
			top: 16px;
			width: 16px;
		}

		&:nth-child(3) {
			top: 22px;
		}

		&:nth-child(4) {
			top: 28px;
			width: 16px;
		}
	}
}

.header-burger.active {

	span {
		transform: rotate(45deg);
		top: 20px;
		left: 9px;

		&:nth-child(3) {
			transform: rotate(-45deg);
			left: 9px;
		}

		&:nth-child(2) {
			display: none;
		}

		&:nth-child(4) {
			display: none;
		}
	}
}